*{
	box-sizing: border-box;
}

html, body{
	height: 100%;
	width:  100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	line-height: 1.4;
}

h1{
	margin: 1rem 0;
	font-size: 2rem;
}

h2{
	margin: 1rem 0;
	font-size: 1.4rem;
}

p{
	font-size: 1rem;
}

.wrapper{
	margin: 0 auto;
	width:  600px;
}

img{
	float: left; /*Bild rutscht nach links und wird vom Text umschlossen*/
	margin-top: 0;
	margin-right: 16px;
	margin-bottom: 14px; /*Muss hier ein bisschen basteln das der Abstand passt. Manchmal würde eine Zeile nicht daneben passen und der Abstand wird größer*/
	margin-left: 0;
	/*oder falle alle margins zusammen: margin: 0 1rem 1rem 0 --> Reihenfolge ist top, right, bottom, left. Geht im uhrzeigersinn*/
}

a{
	display: inline-block; /*Das Beste aus beiden Welten, mixe Fähigkeiten von inline und block*/
	background-color: yellow;
	width: 180px;
	height: 100px;
}

span{
	color: red;
}

.erster-buchstabe{
	font-size: 200%; /*Nur dieser Buchstabe ist größer als der restliche Text*/
	display: block;
	float: left;
}
